* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-size: 26px;
}
h1 {
  color: #fff;
  text-align: center;
  padding-top: 40px;
}
.container {
  background-image: url(./img/woodenbackground.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
  height: 620px;
}
.counterContainer {
  text-align: center;
  border: 3px solid #ffff;
  border-radius: 5px;
  box-shadow: 3px 28px 21px -2px rgba(45, 49, 38, 0.88);
  height: 520px;
  width: 75%;
}
.btn {
  margin-top: 150px;
}
#number {
  color: green;
  font-size: 200px;
  font-weight: 900;
  width: 100%;
  height: 100px;
  background-color: transparent;
}
button {
  background-color: #184e77;
  box-shadow: -3px 5px 15px 0px rgba(45, 49, 38, 0.88);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 23px;
  padding: 12px 17px;
  letter-spacing: 0.5px;
  transition: 1ms;
}
button:hover {
  border: 1px solid #aaaa;
  cursor: pointer;
}

.add {
  margin-top: 15px;
}
