* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tahoma";
  background-color: rgb(49, 35, 35);
}
.container {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
box-shadow: 0 0 5px rgb(255, 255, 255)}
p,
h4 {
  color: #889aad;
}
.result {
  font-size: 30px;
  font-weight: 500;
}

.btn {
  text-transform: capitalize;
  transition: all 0.3s;
  outline: none;
  border: none;
  color:white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 5px;
  border-radius: 4px;
}
.btn:last-child {
  margin: 0;
}
.decrease {
  background-color: #dc143c;
}
.increase {
  background: #008000;
}
.reset {
  background-color: #f0f8ff;
  color:#1b1616;
}
